
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background-color: #000;
  color: #fff;
}

header {
  background-color: #1e90ff;
  color: white;
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 28px;
}


nav {
  background-color: #333;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px;
  transition: background 0.3s, color 0.3s;
}

nav ul li a: {
  background-color: #1e90ff;
  color: #fff;
  border-radius: 5px;
}


section {
  padding: 20px;
  text-align: center;
}

section img {
  border-radius: 8px;
  margin-top: 10px;
}

h1 {
	text-align: center;
  margin: 20px 0;
  color: #1e90ff;
}

p {
  margin: 15px auto;
  max-width: 800px;
  text-align: justify;
}

hr {
  margin: 30px auto;
  width: 80%;
  border: 1px solid #ccc;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
}
